#
# Please consult the `Deployment` section in the readme if you want to deploy
# this. You *need* to keep this nginx service, even if you have your own,
# otherwise the static files will not be served correctly! If you do remove
# it, configure yours similarly to what's in config/nginx.conf
# Also take a look at the "Static files" section in the .env file

services:
  web:
    image: wger/server:latest
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    env_file:
      - ./config/prod.env
    environment:
      - LOG_FILE=/var/log/wger/server.log
    volumes:
      - static:/home/wger/static
      - media:/home/wger/media
      #- ./logs/server:/var/log/wger
    expose:
      - 8000
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: 5
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8000
      interval: 10s
      timeout: 5s
      start_period: 300s
      retries: 5
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=wger
      - POSTGRES_PASSWORD=wger
      - POSTGRES_DB=wger
      - TZ=Europe/Berlin
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    expose:
      - 5432
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: 5
    healthcheck:
      test: pg_isready -U wger
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  cache:
    image: redis
    expose:
      - 6379
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: 5
    volumes:
      - redis-data:/data
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

    # You probably want to limit the memory usage of the cache, otherwise it might
    # hog all the available memory. Remove or change according to your needs.
    #mem_limit: 5gb

  celery_worker:
    image: wger/server:latest
    command: /start-worker
    env_file:
      - ./config/prod.env
    environment:
      - LOG_FILE=/var/log/celery/celery.log
    volumes:
      - media:/home/wger/media
      #- ./logs/celery:/var/log/celery
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: 5
    depends_on:
      web:
        condition: service_healthy
    healthcheck:
      test: celery -A wger inspect ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  celery_beat:
    image: wger/server:latest
    command: /start-beat
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: 5
    volumes:
      - celery-beat:/home/wger/beat/
      #- ./logs/celery:/var/log/celery
    env_file:
      - ./config/prod.env
    environment:
      - LOG_FILE=/var/log/celery/beat.log
    depends_on:
      celery_worker:
        condition: service_healthy

volumes:
  postgres-data:
  celery-beat:
  redis-data:

  # Heads up, if you remove these volumes and use folders directly you need to chown them
  # to the UID and GID 1000 even if it doesn't exist on your system. Also, they should
  # be readable by everyone.
  media:
  static:

networks:
  default:
    name: wger_network
